body {
    margin: 0;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.leftnav ul {
    list-style-type: none;
    /* margin-top: 60px; */
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.leftnav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.leftnav li a.active {
    background-color: #4CAF50;
    color: white;
}

.leftnav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.rightcolumn {
    margin-left: 15%;
    padding: 1px 16px;
    /* height: 1000px; */
}

.row {
    padding: 20px;
    padding-left: 0;
    margin-top: 30px;
    /* height: 1500px; */
}

.rightcolumn iframe {
    position: fixed;
    height: 900px;
    width: 85%;
}