* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}


/* 头部标题 */

.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}


/* 导航条 */

.topnav {
    overflow: hidden;
    background-color: #333;
}


/* 导航条链接 */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* 链接颜色修改 */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* 创建两列 */


/* Left column */

.leftcolumn {
    float: left;
    width: 15%;
    height: auto
}


/* 右侧栏 */

.rightcolumn {
    /* float: left; */
    float: right;
    width: 85%;
    background-color: #f1f1f1;
    padding-left: 20px;
}


/* 图像部分 */

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.hot-posts {
    background-color: #f1f1f1;
    width: 100%;
    padding: 0px;
    color: #777;
    height: 200px;
}

.hot-posts ul {
    padding: 0px;
    margin: 0px;
}

.hot-posts li {
    padding: 20px;
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
    border-color: #e1e1e1;
}

.hot-posts li a {
    text-decoration: none;
    color: #777;
}

.hot-posts li a:hover {
    color: #ff5e52;
    border-bottom: 1px dotted #ff5e52;
}


/* 文章卡片效果 */

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}


/* 列后面清除浮动 */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* 底部 */

.footer {
    padding: 2px;
    /* text-align: center; */
    background: #ddd;
    margin-top: 20px;
}


/* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}


/* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 */

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

.article-entry blockquote {
    padding: 15px 20px;
    margin-top: 10px;
    border-left: 5px solid #657b83;
    background: #f6f6f6;
    margin: 0;
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
}

.about-me {
    width: 100%;
    min-width: 200px;
    /* height: 90px; */
    padding-left: 10px;
    padding-top: 10px;
    background-color: #4d4d4d;
    color: #f0f0f0;
    border-radius: 5px;
}

.about-me p {
    margin: auto;
    padding: 0px 5px;
}

.head-img {
    width: 74px;
    height: 74px;
    float: left;
    border-radius: 50%;
    border: 3px solid #eee;
    overflow: hidden;
}

.about-me-msg {
    width: 100%;
    height: 74px;
    padding: 10px;
}

.about-me-msg p {
    white-space: nowrap;
    padding: 0px 84px;
}

.friend-link {
    border-top: 2px solid #eee;
    margin-top: 10px;
    margin-left: -10px;
    /* border-top: 3px #eee; */
}

.friend-link a {
    text-decoration: none;
    color: #f2f2f2;
    /*  */
    /* float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; */
    display: inline-block;
    text-align: center;
    padding: 10px 12px;
}

.friend-link a:hover {
    background-color: #ddd;
    color: black;
}

.leftnav a {
    /* float: left; */
    margin: 10px;
    display: block;
    background-color: white;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.leftnav a:hover {
    background-color: black;
    color: #ddd;
}

.leftnav_card {
    /* height: 100%; */
    /* height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed; */
    position: fixed;
    top: 90px;
    bottom: 0;
    left: 20px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    border-right: 1px solid #eee;
}